---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #00d2ff  !default;
$header-bg-color-secondary: #3a7bd5 !default;

// Text // #5691c8
$section-headings-color: #0c64bb !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";

.project-tagline {
  margin-bottom: 2rem;
//   font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}
